.title{
  color: palevioletred;
  font-weight: bold;
  font-size: 50px;

}

.question{
  font-size: 25px;
  text-align: center;
  color:rgb(56, 8, 56);
  margin: 20px;
  padding: 20px;
}
.container{
  background-color: paleturquoise;
  width:80%;
  text-align: center;
  align-content: center;
}
#body{
  
}